.three-columns {
    /* at max-width */
    --padding: 16px; 
    /* at mid-width */
    --padding: 1.4vw; 
    /* at min-width */
    /* --padding: 6vw;  */
}
.three-columns.wrapper {
    width: 100vw;
    margin: 40px auto;
}
.three-columns .container {
    display: grid;
    grid-template-columns: 78% 22%;
    grid-template-areas: 'grid panel';
    max-width: 86vw;
    margin: 0 auto;
}
.three-columns .side-panel {
    background-image: url('./bamboo.jpg');
    margin: var(--padding) 0;
    grid-area: panel;
    background-size: cover;
    background-position-x: 50%;
}
.three-columns .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--padding);
    padding: var(--padding);
    margin: 0 auto;
    width: calc(100% - var(--padding) * 2);
    grid-area: grid;
}
.three-columns .header {
    margin-bottom: var(--padding);
    border-bottom: 4px solid var(--green);
}

.three-columns a {
    text-decoration: none;
}

.three-columns h1 {
    line-height: 100%;
    padding: 0 0 1vw 0;
    font-size: 2.1vw;
}
.three-columns h2 {
    /* font-family: var(--fancy-font); */
    padding: 6px 0 0;
    font-weight: 300;
    color: var(--purple);

    font-size: 24px;
    font-size: 2.8vw;
    font-size: 18px;
    font-size: 1.33vw;
}

.three-columns small {
    font-size: 18px;
    font-size: 1.6vw;
    font-size: 10px;
    font-size: .8vw;
}

.three-columns .img-div {
    background-size: cover;
    width: 100%; 
    padding-top: 50%; 
}
.three-columns section {
    height: 5vw;
    overflow: hidden;
}

.three-columns .view-more {
    text-align: left;
    margin-top: 1vw;
    background: var(--purple);
    padding: .25vw .75vw;
}
.three-columns .view-more > a{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.125vw;
}
@media screen and (min-width: 1200px) {
    .three-columns.wrapper {

    }
    .three-columns .container {
    }
    
}
@media screen and (max-width: 1199px) {
    .three-columns.wrapper {
    }
    .three-columns .container {
    }    
}
@media screen and (max-width: 640px) {
    .three-columns.wrapper {
        display: block;
    }
    .three-columns .container {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 22vw auto;
        grid-template-areas: 'panel' 'grid';
        max-width: 100vw;
        width: 100vw;
    }
    .three-columns .side-panel {
        margin: var(--padding);
        background-size: cover;
        /* display: none; */
    }
    .three-columns h1 {
        padding: var(--padding) 0;
        font-size: 3.4vw;
    }
    .three-columns h2 {
        font-size: 2.33vw;
    }
    .three-columns section {
        height: 8vw;
    }
    .three-columns .view-more {
        margin-top: 5vw;
    }
    .three-columns .view-more > a {
        font-size: 2.125vw;
    }
}