@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Montserrat:300,400&display=swap');

:root {
  --lightgreen: #A0CD4D;
  --green: #689E3C;
  --darkpurple: #744A9E;
  --purple: #965BA5;
  --lightpurple: #b997c3;
  --lightestpurple: #e8dceb;
  --grey: #555;
  --lightgrey: #888;
  --fancy-font: 'Merriweather',sans-serif;
}

body {
  margin: 0;

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  color: var(--purple);
  padding: 2vw;

  text-align: center;
  text-transform: uppercase;

  position: relative;
  z-index: 1;
}
h1, h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
button {
  box-sizing: border-box;
  padding: 20px 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 2px;

  text-align: center;
  text-transform: uppercase;

  background: transparent;

  transition: all .3s ease-in-out;

  position: relative;
  z-index: 10;

  border: 1px solid var(--purple);
  background-color: #FFF;
  color: var(--purple);
}
button:hover {
  cursor: pointer;
}
button.white {
  border: 1px solid var(--purple);
  background-color: #FFF;
  color: var(--purple);
}
button.purple {
  border: 1px solid #FFF!important;
  background-color: transparent;
  color: #FFF!important;
}
button.white:hover {
  background-color: rgba(150, 91, 165, .5);
}
button.purple:hover {
  background-color: var(--lightpurple);
}

@media screen and (max-width: 945px) {
  h1 {
    font-size: 7vw;
  }
  button.mobile-fill {
    margin: 1vw 5vw;
    width: 90vw;
    max-width: 600px;
    font-size: 4vw;
    line-height: 6vw;
  }
  button.mobile-resize {
    font-size: 4.5vw;
  }
}
.mobile-inline {
  display: none!important;
}
.desktop-inline {
  display: inline-block!important;
}
@media screen and (max-width: 945px) {
  .desktop-inline {
    display: none!important;
  }
  .mobile-inline {
    display: inline-block!important;
  }
}